#root {
  margin: 0 auto;
  text-align: center;
  max-width: 1280px;
}

.card {
  display:flex;
  justify-content: center;
}

.error {
  display:flex;
  justify-content: center;
}

#errorText {
  color:white;
  background-color: red;
  border-radius:10px;
  width:200px;
  padding:10px;
}

textarea {
  max-height: 256px;
}